---
import { Image } from "@astrojs/image/components";
import { clsx } from "clsx";

export interface Props {
  className?: string;
  title: string;
  description: string;
  href: string;
  detailIcon: ImageMetadata;
}

const { className, title, description, href, detailIcon } = Astro.props;
---

<div class={clsx(className)}>
  <a
    href={href}
    class="block border border-dark-gunmetal bg-transparent px-8 py-6 transition duration-200 hover:bg-slate-400/5"
  >
    <div class="flex flex-col items-center justify-center">
      <Image src={detailIcon} alt="" class="h-20" />
      <h3 class="pb-2 pt-6 text-lg font-semibold">{title}</h3>
      <span class="block font-mono text-xs uppercase text-slate-300/90"
        >{description}</span
      >
    </div>
  </a>
</div>
